<div data-ng-if="showWeartestList()">
    <weartest-list><weartest-list/>
</div>
<div data-ng-if="showWeartestSection('edit')">
    <weartest-edit></weartest-edit>
</div>
<div data-ng-if="showWeartestSection('overview')">
    <weartest-overview></weartest-overview>
</div>
<div data-ng-if="showWeartestSection('roster')">
    <weartest-roster></weartest-roster>
</div>
<div data-ng-if="showWeartestSection('activityLogs')">
    <weartest-activity-logs></weartest-activity-logs>
</div>
<div data-ng-if="showWeartestSection('submittedSurveys')">
    <weartest-surveys></weartest-surveys>
</div>
<div data-ng-if="showWeartestSection('wearAndTear')">
    <weartest-wearandtear></weartest-wearandtear>
</div>
<div data-ng-if="showWeartestSection('performanceZone')">
    <weartest-performance-zones></weartest-performance-zones>
</div>
<div data-ng-if="showWeartestSection('reportBuilder')">
    <weartest-report-builder></weartest-report-builder>
</div>
<div data-ng-if="showWeartestSection('draft')">
    <weartest-draft></weartest-draft>
</div>
<div data-ng-if="showWeartestSection('share')">
    <survey-share></survey-share>
</div>
