<div id="content">
    <div class="wrap full">
        <weartest-mode></weartest-mode>

        <div class="tab-content">
            <div class="row top-row">

                <weartest-header></weartest-header>

                <div class="form-inline">
                    <select data-ng-model="userFilter" class="span1" data-ng-options="c.userIdkey as c.username for c in weartestOnTeamParticipants">
                    </select>

                    <select data-ng-model="surveyFilter" data-ng-options="s.survey_id as s.surveyName for s in weartest.productSurveys" >
                    </select>

                    <a href="" class="btn btn-orange btn-primary btn-small" data-ng-class="{'hidden': userFilter != 'All'}" data-ng-hide="preparingDataForExport" download="submitted_surveys.csv" assist-with-export>
                        Export Survey
                    </a>
                    
					<a href="" class="btn btn-gray btn-primary btn-small" data-ng-hide="preparingDataForExport" download="submitted_all_surveys.csv" all=true assist-with-export>
                        Export All Surveys
                    </a>
					
				</div>

                <div id="surveyProgress" class="row-fluid" data-infinite-scroll="increaseChartDisplayLimit()">
                    <div data-ng-repeat="entry in selectedSurveyQuestions | limitTo: chartLimit">
                        <div class="row-fluid">
                            <div class="span12" data-once-class="{'big-required': entry.options.isRequired,'big-not-required': !entry.options.isRequired}">
                                <h3 data-ng-hide="entry.type == 'Title / Header'"><span data-once-text="getQuestionNumber($index)"></span>. <span data-once-text="entry.question"></span>
                                </h3>
                                <h3 class="text-orange" data-ng-show="entry.type == 'Title / Header'"><span data-once-text="entry.question"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="row-fluid" data-ng-show="entry.supportingImage">
                            <img data-ng-src="{{entry.supportingImage | getScaledImage:'360':'200':'c_limit'}}" alt="Supporting image for entry" class="survey-image">
                        </div>
                        <div class="row-fluid" data-ng-hide="entry.type == 'Title / Header'">
                            <div class="span12">
                                <div data-ng-switch on="entry.type">
                                    <div data-ng-switch-when="Numeric">
                                        <horizontal-bar-chart abs-url="{{absUrl}}" chart-data="{{getCumulativeDataForChart(entry._id)}}" index="$index">
                                        </horizontal-bar-chart>
                                    </div>

                                    <div data-ng-switch-when="Rating">
                                        <horizontal-bar-chart abs-url="{{absUrl}}" chart-data="{{getCumulativeDataForChart(entry._id)}}" index="$index">
                                        </horizontal-bar-chart>
                                    </div>

                                    <div data-ng-switch-when="Single Selection">
                                        <donut-chart chart-data="{{getCumulativeDataForChart(entry._id)}}" index="$index">
                                        </donut-chart>
                                    </div>

                                    <div data-ng-switch-when="Multiple Selection">
                                        <donut-chart chart-data="{{getCumulativeDataForChart(entry._id)}}" index="$index">
                                        </donut-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid block" data-ng-hide="loading">
                    <h2 data-ng-hide="userFilter == 'All'">{{getUserNameForId(userFilter)}} - {{getSurveyName(surveyFilter)}}</h2>
                    <h2 data-ng-show="userFilter == 'All'">All - {{getSurveyName(surveyFilter)}}</h2>

                    <table class="brand">
                        <thead>
                            <tr>
                                <th class="pointer" data-ng-click="changeSortOrder('createdDate')">
                                    Date
                                    <i class="icon-caret-up" data-ng-show="checkSortOrder('createdDate', 'ascending')"></i>
                                    <i class="icon-caret-down" data-ng-show="checkSortOrder('createdDate', 'descending')"></i>
                                </th>
                                <th class="pointer" data-ng-click="changeSortOrder('userId')">
                                    User
                                    <i class="icon-caret-up" data-ng-show="checkSortOrder('userId', 'ascending')"></i>
                                    <i class="icon-caret-down" data-ng-show="checkSortOrder('userId', 'descending')"></i>
                                </th>
                                <th class="pointer" data-ng-click="changeSortOrder('question')">
                                    Question
                                    <i class="icon-caret-up" data-ng-show="checkSortOrder('question', 'ascending')"></i>
                                    <i class="icon-caret-down" data-ng-show="checkSortOrder('question', 'descending')"></i>
                                </th>
                                <th class="pointer" data-ng-click="changeSortOrder('value')">
                                    Response
                                    <i class="icon-caret-up" data-ng-show="checkSortOrder('value', 'ascending')"></i>
                                    <i class="icon-caret-down" data-ng-show="checkSortOrder('value', 'descending')"></i>
                                </th>
                                <th class="pointer" data-ng-click="changeSortOrder('comment')">
                                    Comment
                                    <i class="icon-caret-up" data-ng-show="checkSortOrder('comment', 'ascending')"></i>
                                    <i class="icon-caret-down" data-ng-show="checkSortOrder('comment', 'descending')"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-infinite-scroll="increaseLogDisplayLimit()">
                            <tr data-ng-repeat="answer in getSurveySubmissions() | filter:customFilter | orderBy:predicate:reverse | limitTo: logLimit">
                                <td>
                                    <span data-once-text="answer.createdDate | UTCDate:'MM/dd/yy'"></span>
                                </td>
                                <td>
                                    <span data-once-text="getUserNameForId(answer.userId)"></span>
                                </td>
                                <td>
                                    <span data-ng-bind-html="answer.questionName"></span>
                                </td>
                                <td data-once-hide="answer.type == 'Multiple Selection'">
                                    <span data-once-text="answer.value"></span>
                                </td>
                                <td data-once-show="answer.type == 'Multiple Selection'">
                                    <span data-ng-list data-ng-bind="answer.valueArray" data-ng-model="answer.valueArray"></span>
                                </td>
                                <td><span data-once-text="answer.comment"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row-fluid block" data-ng-show="loading">
                    <h1 class="text-center">
                        <i class="icon-spin icon-spinner"></i>
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>
