<header>
    <div class="wrap">
        <!-- the logo -->
        <h1>
            <a href="/">
                <img src="/img/logo4_r.png">
            </a>
        </h1>
        <div id="slogan" class="large scooter">
             / Brands
        </div>
        <!-- top right social media icons -->
        <div class="social-media">
            <a href="http://www.linkedin.com/company/mesh01" class="linkedin"><span>LinkedIn</span></a>
            <a href="https://twitter.com/mesh01inc" class="twitter"><span>Twitter</span></a>
            <a href="https://www.facebook.com/mesh01?ref=ts" class="facebook"><span>Facebook</span></a>
            <a href="" class="rss temp-hidden"><span>RSS</span></a>
            <a href="/login" class="login" ng-hide="userIsLoggedIn">
            <i class="icon-user icon-black"></i> Login </a>
            <a href="/register" class="register" ng-hide="userIsLoggedIn">
            Register </a>
            <a href="" class="logout" ng-click="logout()" ng-show="userIsLoggedIn">
            <i class="icon-off icon-black"></i> Logout </a>
            <a href="/dashboard" class="dashboard" ng-show="userIsLoggedIn">
            <i class="icon-dashboard icon-black"></i> Dashboard </a>
        </div>
    </div>
</header>

<!-- main content -->
<div id="content" class="brandPage">
    <section class="fullwidth">
        <div class="wrap">
            <div class="row-fluid">
                <div class="span6">
                    <div class="bottom-round-gray">
                        <a class="fancybox" href="http://player.vimeo.com/video/72571177">
                            <img src="/img/content/Design_Side_04_Pack_no-text.jpg" alt="">
                            <img src="/img/content/green-play.png" class="play-bar">
                        </a>
                        <div class="body-content">
                            <h4>Hand it to our designers</h4>
                            <p>
                                Give your next project to our expert designers—and gain for a whole new perspective in product development.
                            </p>
                            <p>
                                <a href="https://design.mesh01.com/register" class="btn btn-large btn-green btn-rect">GET STARTED <i class="icon-chevron-right icon-white"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="bottom-round-gray">
                        <a class="fancybox" href="http://player.vimeo.com/video/72571022">
                            <img src="/img/content/Testing_Side_06_Running_no-text.jpg" alt="">
                            <img src="/img/content/orange-play.png" class="play-bar">
                        </a>
                        <div class="body-content">
                            <h4>Run it by our testers</h4>
                            <p>
                                Target the same people who will buy your product and receive valuable feedback to ensure a more successful launch. Check out our testing community.
                            </p>
                            <p>
                                <a href="/register" class="btn btn-large btn-orange btn-rect">GET STARTED <i class="icon-chevron-right icon-white"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="brandCarousel" class="row-fluid">
                <div class="span6">
                    <div class="carousel slide" bootstrap-carousel>
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="/img/content/brand-green-slide1.png" alt="">
                                <div class="body-content">
                                    <h3>20x the design output—<br>
                                    vs. traditional design firms</h3>
                                    <p>
                                        Global insight
                                    </p>
                                    <p>
                                        More ideas in less time
                                    </p>
                                    <p>
                                        Greater value on $ spent
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-green-slide2.png" alt="">
                                <div class="body-content">
                                    <h3>Streamline design, meet<br>
                                    critical deadlines </h3>
                                    <p>
                                        32 Days (includes 2 phases of design)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-green-slide3.png" alt="">
                                <div class="body-content">
                                    <h3>Fresh perspective—fast</h3>
                                    <p>
                                        20 unique designs in 18 days (avg.)
                                    </p>
                                    <p>
                                        from a global community representing 100 countries
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-green-slide4.png" alt="">
                                <div class="body-content">
                                    <h3>Tap into the design experts <br>
                                    you seek</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-green-slide5.png" alt="">
                                <div class="body-content">
                                    <h3>Design, test, perfect—<br>
                                    all from one platform</h3>
                                    <p>
                                        Open interaction between designers and product testers
                                    </p>
                                    <p>
                                        accelerates innovation. Better product in record time!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="carousel slide" bootstrap-carousel id="test">
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="/img/content/brand-slide-orange1.png" alt="">
                                <div class="body-content">
                                    <h3>Run it by our expert testers</h3>
                                    <p>
                                        Eliminate cost of failure
                                    </p>
                                    <p>
                                        Gain valuable feedback
                                    </p>
                                    <p>
                                        Go to market with confidence (because you tested it!)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-slide-orange2.png" alt="">
                                <div class="body-content">
                                    <h3>Prepare to reach new markets </h3>
                                    <p>
                                        Find qualified testers around the world—
                                    </p>
                                    <p>
                                        launch your product right the first time!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-slide-orange3.png" alt="">
                                <div class="body-content">
                                    <h3>Connect with target customers</h3>
                                    <p>
                                        Find passionate testers who fit your demographic—
                                    </p>
                                    <p>
                                        and will soon buy your product.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/content/brand-slide-orange4.png" alt="">
                                <div class="body-content">
                                    <h3>Meet customer demand—<br>
                                    every time</h3>
                                    <p>
                                        Test it right and eliminate any surprises.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-block row-fluid" style="display: none">   <!-- removing per Issue #969 -->
                <div class="span6">
                    <div class="block green contentNoSytling">
                        <h2>Current Design Competitions</h2>
                        <public-blog-posts name="'designLandingCurrent'">
                        </public-blog-posts>
                    </div>
                </div>
                <div class="span6 ">
                    <div class="block orange">
                        <h2>Current Product Tests</h2>
                        <ul ng-hide="loadingWearTests">
                            <div ng-hide="wearTests.length>
                                 0">No Tests Available.
                            </div>
                            <li class="row-fluid" ng-repeat="w in wearTests | orderBy:predicate:reverse">
                            <div class="span4 logo pagination-centered">
                                <img ng-src="{{getImageForWearTests(w.featureImageLink,158,84,'c_fit')}}" alt="">
                            </div>
                            <div class="span8">
                                <h3>{{w.name}}</h3>
                                <div class="row-fluid">
                                    <div class="span4 vertical-divider">
                                        <strong>CATEGORY:</strong><br>
                                         {{w.productType}}
                                    </div>
                                    <div class="span4 vertical-divider">
                                        <strong>DURATION:</strong><br>
                                         {{w.wearTestStartDate | UTCDate:'MM/dd'}} - {{w.wearTestEndDate | UTCDate:'MM/dd'}}
                                    </div>
                                    <div class="span4">
                                        <strong>TESTERS:</strong><br>
                                         {{w.requiredNumberofTesters}}
                                    </div>
                                </div>
                            </div>
                            </li>
                        </ul>
                        <div ng-show="loadingWearTests">
                             Loading content...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wrap -->
    </section>
</div>
<!-- end of main content -->

<!-- main footer -->
<page-footer>
</page-footer>
