<!-- top navigation bar -->
<div id="top-bar" class="navbar navbar-static-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="http://design.mesh01.com">Design<span class="arrow"></span></a></li>
            <li class="active"><a href="">Wear Test<span class="arrow"></span></a></li>
        </ul>
    </div>
</div>

<!-- main header -->
<header>
    <div class="wrap">

        <!-- the logo -->
        <h1>
            <a href="/">
                <img src="/img/logo1_r.png" alt="Mesh01">
            </a>
        </h1>

        <!-- top right social media icons -->
        <div class="social-media">
            <a href="http://www.linkedin.com/company/mesh01" class="linkedin"><span>LinkedIn</span></a>
            <a href="https://twitter.com/mesh01inc" class="twitter"><span>Twitter</span></a>
            <a href="https://www.facebook.com/mesh01?ref=ts" class="facebook"><span>Facebook</span></a>
            <a href="" class="rss temp-hidden"><span>RSS</span></a>
        </div>

    </div>
</header>

<!-- main content -->
<div id="content">
    <div class="wrap">
        <div class="row-fluid spacer">
            <div class="span12">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="orange">Forgot Password</legend>

                        <div class="alert alert-error" ng-show="resetFailed">
                            <h4>Error!</h4>
                            Email or username provided is not valid
                        </div>

                        <div class="alert alert-error" ng-show="resetError">
                            <h4>Error!</h4>
                            An error occurred when attempting to reset the password. Try again after some time. If the problem persists, kindly contact admin.
                        </div>

                        <div class="alert st40" ng-show="resetSuccess">
                            The password has been sent to the email address on file.
                        </div>

                        <div class="row-fluid pad-top" ng-hide="resetSuccess">
                            <div class="span7 offset2">

                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">
                                        Email / Username:
                                    </label>
                                    <div class="controls">
                                        <input type="text" id="inputEmail" placeholder="Enter your email or username" class="span10" ng-model="identity.user" tooltip="Enter the email provided at the time of registration or provide the username that you use to login" tooltip-placement="right">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button type="button" class="btn btn-primary btn-orange"  ng-show="resetInProgress" disabled>
                                            <i class="icon-spinner icon-spin"></i> Reset Password
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-orange" ng-disabled="resetInProgress || identity.user == ''" ng-click="resetPassword()" ng-hide="resetInProgress">
                                            Reset Password
                                        </button>
                                        <a href="/login" class="btn"><i class="icon-chevron-sign-left"></i> Back to login</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="/login" class="btn" ng-show="resetSuccess"><i class="icon-chevron-sign-left"></i> Back to login</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
