<footer>
    <div class="wrap">
        <div class="row-fluid">
            <div class="span3">
                <h6>Design Office</h6>
                <ul>
                    <li><a href="/info/Design">Design</a></li>
                    <li class="hidden"><a href="http://community.mesh01.com/design-blog/">Design Blog</a></li>
                    <li><a href="http://design.mesh01.com/forms/MemberGallery.aspx">Design Community</a></li>
                    <li><a class="fancybox" href="http://player.vimeo.com/video/17851726">Design Process Video</a></li>
                    <li><a href="http://design.mesh01.com/forms/competitions.aspx">Design Projects</a></li>
                    <li><a target="_self" href="/pdf/Mesh01-brand-design-4pgr.pdf">Download Design Brochure</a></li>
                    <li><a href="http://design.mesh01.com/forms/brief/CompetitionOverview.aspx">Launch a Design Project</a></li>
                    <li><a href="http://design.mesh01.com/forms/designoffice/scorenow.aspx">Score Now</a></li>
                    <!--<li><a href="">Design FAQ'S</a></li> -->                
                </ul>
            </div>
            <div class="span3">
                <h6>Product Testing</h6>
                <ul>
                    <li><a target="_self" href="/pdf/Mesh01-brand-testing-4pgr.pdf">Download Product Testing Brochure</a></li>
                    <li><a href="/dashboard/weartests/current">Launch a Product Test</a></li>
                    <li class="hidden"><a href="http://community.mesh01.com/wear-test-blog/">Product Test Blog</a></li>
                    <li><a href="/info/Tester">Product Testing</a></li> 
                    <li><a href="/info/Tester">Product Tests</a></li>
                    <!--<li><a href="">Product Testing Community</a></li> -->
                    <!--<li><a href="">Product Testing FAQ'S</a></li> -->
                </ul>
            </div>
            <div class="span3">
                <h6>Company Info</h6>
                <ul>
                    <li><a href=" http://design.mesh01.com/forms/about_us.aspx">About Us</a></li> 
                    <!-- <li><a href="">Management Team</a></li> -->
                    <li><a href="http://design.mesh01.com/forms/press.aspx">Press</a></li>
                </ul>
            </div>
            
            <div class="span3">
                <div class="social-media">
                    <a href="http://www.linkedin.com/company/mesh01" class="linkedin"><span>LinkedIn</span></a>
                    <a href="https://twitter.com/mesh01inc" class="twitter"><span>Twitter</span></a>
                    <a href="https://www.facebook.com/mesh01?ref=ts" class="facebook"><span>Facebook</span></a>
                    <!-- <a href="" class="rss"><span>RSS</span></a> -->
                </div>                  
                <ul>
                    <li>&copy; MESH01 Inc. All rights reserved.</li>
                    <li><a href="http://design.mesh01.com/forms/privacy_statement.aspx">Privacy Policy</a></li>
                    <li><a href="http://design.mesh01.com/forms/termsandconditions.aspx">Terms &amp; Conditions</a></li>
                    <li><a href="http://design.mesh01.com/forms/contact.aspx">Contact Us</a></li>
                </ul>
            </div>
        
        </div>          
    </div><!-- wrap -->
</footer>
