<div class="span6 offset3 well anti-well registration-questions" ng-hide="hideModalFrame">

	<div class="registration-header">
		<h3 id="myModalLabel">
			{{question.question}}
			<span ng-show="question.options.isRequired">*</span>
			<sup ng-show="question.helpText" tooltip="{{question.helpText}}" tooltip-placement="bottom"><i class="icon-info-sign"></i></sup> 
		</h3>
	</div>

	<div class="registration-body">
		<div class="alert alert-danger" ng-show="validationError">
			{{validationErrorMessage}}
			<br/>
		</div>
		<!-- Displays the First Name, Last Name and Email -->
		<div class="row-fluid">							
			<div class="span12 text-center">
				<input type="text" class="text-center input-large" placeholder="First Name" ng-model="question.answer.fname" required>
			</div>
		</div>

		<div class="row-fluid">							
			<div class="span12 text-center">
				<input type="text" class="text-center input-large" placeholder="Last Name" ng-model="question.answer.lname" required>
			</div>
		</div>

		<div class="row-fluid">							
			<div class="span12 text-center">
				<input type="email" class="text-center input-large" placeholder="Email Address" ng-model="question.answer.email" required>
			</div>
		</div>

		<div class="row-fluid">							
			<div class="span12 text-center">
				<input type="email" class="text-center input-large" placeholder="Confirm Email Address" ng-model="question.answer.confirmEmail" required>
			</div>
		</div>
		<!-- END OF Displays the First Name, Last Name and Email -->
		
	</div>

	<!-- Question Details -->
	<div class="row-fluid" ng-hide="showUpdateButton">
		<ul class="pager">
			<li>
				<a href="" class="prev" ng-click="previousQuestion()" ng-class="{disabled: isFirstQuestion()}">Prev</a>
			</li>
			<li class="steps">
				{{currentQuestionNumber + 1}}
				<small>of</small>
				{{getQuestionCount()}}
			</li>
			<li>
				<a href="" class="next" ng-click="nextQuestion()">Next</a>
			</li>
		</ul>
	</div>

	<!-- Registration Progress Display -->
	<div class="row-fluid" ng-hide="showUpdateButton">
		<div class="progress">
			<div class="bar" ng-style="{width: ((currentQuestionNumber + 1)/getQuestionCount())*100+'%'}"></div>
		</div>
	</div>
</div>