<!-- Display of the user's profile -->
<a href="" ng-click="showdetailToEdit()" class="fontSize05">
Change Password
</a>
<!-- Editing of the user profile -->
<!-- Modals to allow the user to edit the profile -->
<div modal="detailToEdit" close="cancelEdit()" options="editModalOptions">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelEdit()">&times;</button>
        <h3 id="myModalLabel">{{editDetail.question}}</h3>
    </div>
    <div class="span6 offset3 well anti-well registration-questions" ng-hide="hideModalFrame">
        <div class="registration-header">
            <h3 id="myModalLabel">
                {{editDetail.question}}
                <span ng-show="editDetail.options.isRequired">*</span>
                <sup ng-show="editDetail.helpText" tooltip="{{editDetail.helpText}}" tooltip-placement="bottom"><i class="icon-info-sign"></i></sup>
            </h3>
        </div>
        <div class="registration-body">
            <div class="alert alert-danger" ng-show="validationError">
                {{validationErrorMessage}}
                <br/>
            </div>
            <!-- Display  password -->
            <div class="row-fluid">
                <div class="span12 text-center">
                    <input type="password" class="input-large text-center" placeholder="Temporary or Current Password" ng-model="editDetail.answer.oldPassword" required>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 text-center">
                    <input type="password" class="input-large text-center" placeholder="New Password" ng-model="editDetail.answer.password" required>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 text-center">
                    <input type="password" class="input-large text-center" placeholder="Confirm New Password" ng-model="editDetail.answer.confirmPassword" required>
                </div>
            </div>
            <!-- END OF Display of username and password -->
        </div>
    </div>
    <div class="row-fluid">
        <ul class="pager">
            <li>
                <a href="" class="next" ng-click="update()">Update</a>
            </li>
        </ul>
    </div>
</div>