<div  id="admin-send-message" tabindex="-1" eat-click>
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">&times;</button>
		<h3>Send Message <i class="icon-info-sign" rel="tooltip" title="Broadcast - lorem ipsum dolor<br>User - lorem ipsum dolor sit amet" data-placement="right"></i></h3>
	</div>
	<div class="modal-body">
		<div id="message-to" class="row-fluid">
				<label ng-show="errorMessage" style="color:red;">{{errorMessage}}</label>
		</div>
		<div id="message-to" class="row-fluid">
			<div class="span4 text-right"><label>To : </label></div>
			<div class="span8">
				<select id="message-default-to" ng-model="message.toValue" ng-change="fillDataForAdmin()">
					<option value=""></option>
					<option value="broadcast">Broadcast</option>
					<option value="user">User</option>
				</select>
            </div>
		</div>

		<div id="message-product-test" class="row-fluid" ng-show="message.toValue=='broadcast'">
			<div class="span4 text-right"><label>Product Test : </label></div>
			<div class="span8">
					<select ng-change="fillTester()" ng-model="message.wearTest" ng-options="option as  option.name for option in wearTests"></select>
			</div>
		</div>

		<div id="message-testers" class="row-fluid " ng-show="message.wearTest!='' && message.wearTest ">
			<div class="span4 text-right"><label>Testers : </label></div>
			<div class="span8">
				<select ng-model="message.toUser" ng-options="option as  option.username for option in testerUsers">
					<option value="">All</option>
				</select>
			</div>
		</div>

		<div id="message-user" class="row-fluid" ng-show="message.toValue=='user'" >
			<div class="span4 text-right"><label>User : </label></div>
			<div class="span8"><input type="text" ng-model="message.textUser"></div>
		</div>

		<div class="row-fluid">
			<div class="span4 text-right"><label>Subject : </label></div>
			<div class="span8"><input type="text" ng-model="message.title" ></div>
		</div>
		<div class="row-fluid">
			<div class="span4 text-right"><label>Message : </label></div>
			<div class="span8"><textarea class="span12" rows="5" ng-model="message.body"></textarea></div>
		</div>

		<div class="row-fluid">
			<div class="span4 text-right"><label>Sticky : </label></div>
			<div class="span8">
				<select ng-model="message.isStiky" >
					<option value = "true" >Yes</option>
					<option value = "false">No</option>
				</select>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 text-right"><label>Stick Until : </label></div>
			<div class="span8"><input type="text" ng-model="message.stikyExpirationDate" ></div>
		</div>

	</div>
	<div class="modal-footer">
			<a href="" class="btn" ng-click="close()" >Close</a>
		<a href="" ng-hide="isSendingMessage"  class="btn btn-primary" ng-click="send(message,'admin')" >Send</a>
		<span ng-show="isSendingMessage">Sending message...</span>
	</div>
</div>